node_modules
cache
artifacts
office-local.json
office-published-*.json
office-walk-*.json
office-tape-*.json
uniswap-v2-*.json
.env
.env.*
!.env.example
.DS_Store
coverage
coverage.json
typechain-types
